# This is an example for the '.env'-file. You can rename this file to '.env', edit it to your preferences and then start the service.

ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD='admin'

DATABASE_URL='file:./epilog.sqlite'

JWT_SECRET=3a1e8c4b7d0f2a5e9c6b3d1f4a8e2c7b0d5f3a3f9c2e1b4d8f0a7e6c5b259f
