body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #121212; /* Dunkler Hintergrund */
    color: #ffffff; /* Weiße Schriftfarbe für besseren Kontrast */
}

h1 {
    color: #bb86fc; /* Lila Farbton für die Überschrift */
}

p {
    color: #e0e0e0; /* Hellgraue Schriftfarbe für den Text */
}
